body {
  font-family: Roboto, Arial;
  background-color: #fceec8;
}

.pokemon-item {
  background-color: deeppink;
}

.pokemon-head-logo {
  height: 100px;
  width: 500px;
  margin-bottom: 10px;
}

.pokemon-card-back {
  height: 540px;
  border-radius: 10px;
  border: 2px solid black;
}

.pokemon-data-image {
  width: 195px;
  height: 195px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #fff;
}

.pokemon-type-data {
  font-size: 14px;
  font-weight: bold;
}

.pokemon-card {
  background-color: rgb(222, 102, 218);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
